/Arbeitsverteilung.pdf
/Pflichtenheft Nim-Spiel.pdf
/Wichtige Hinweise zur Abgabe.docx
/~$chtige Hinweise zur Abgabe.docx
/Anwenderdokumentation.docx
/Pflichtenheft.pdf
/StringCheck.txt
/checkOS.txt
/~WRL0003.tmp
